.ongPosts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}

.customClass {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 172px;
  height: 48px;
  justify-content: center;
}

.ongPosts select {
  width: 196px;
  height: 48px;
  border: 2px solid #adadad;
  border-radius: 4px;
  color: #232323;
  padding: 0px 4px;
  font-size: 16px;
}
.ongPosts select:focus {
  border: 2px solid #5e5e5e;
  outline: none;
}

.ongPosts option {
  padding: 4px 8px;
  font-size: 16px;
}

.ongPosts .input {
  position: relative;
}
.ongPosts .input input {
  width: 220px;
  height: 48px;
  border: 2px solid #adadad;
  border-radius: 4px;
  color: #232323;
  padding: 0px 8px;
  padding-right: 32px;
  font-size: 16px;
}
.ongPosts .input input:focus {
  outline: none;
  border: 2px solid #5e5e5e;
}
.ongPosts .input img {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}

.postsList {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  background-color: #eaeaea;
  border-radius: 4px;
  padding: 12px;
  min-height: 250px;
}

.plusIcon {
  font-size: 24px;
}

.verMais {
  text-decoration: underline;
  cursor: pointer;
}
