/*.gridBox {
  flex: 1 1 calc(33.333% - 32px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 200px;
  cursor: pointer;
  transition: 0.2s ease;
}
.gridBox:hover {
  transform: scale(1.02);
} */
