.homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0123px;
  width: 100%;
  max-width: 1366px;
  gap: 64px;
}

.postsSection {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  align-items: center;
}

.postsNav {
  display: flex;
  gap: 16px;
}

.navLink {
  display: flex;
  height: 48px;
  width: 252px;
  justify-content: center;
  align-items: center;
  background-color: #d0d0d0;
  border-bottom: 4px solid #bcbcbc;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  color: #292929;
  text-decoration: none;
  transition: 0.1s ease;
}
.navLink:hover {
  background-color: #eaeaea;
}

.navLink:global(.active) {
  border-bottom: 4px solid #2288c9;
  background-color: #eaeaea;
}

.gridTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -40px;
  gap: 12px;
}

.gridTitle h2 {
  font-size: 24px;
  font-weight: 700;
}
.gridTitle p {
  font-size: 16px;
  font-weight: 400;
}
